.info-container {
  position: sticky;
  top: 0;
  background: white;
  padding: 1rem 0;
  text-align: center;
  z-index: 1;
}

.upcoming-appointments {
  height: 100%;
  max-height: 80vh;
  overflow: scroll;
}

.current-appointment {
  margin-bottom: 1rem;
}

.current-appointment h1 {
  margin-bottom: 1rem;
}

.no-show-actions {
  justify-content: flex-start;
}
